DB_USER=
DB_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
PROFILE_STORAGE_PUBLIC_BASE_URL=
CONTENT_STORAGE_PUBLIC_BASE_URL=

AUTH_DB_APP_USER=
AUTH_DB_APP_PASSWORD=
PROFILE_DB_APP_USER=
PROFILE_DB_APP_PASSWORD=
CONTENT_DB_APP_USER=
CONTENT_DB_APP_PASSWORD=

CONTENT_PAYMENT_PROVIDER=
STRIPE_SECRET_KEY=
STRIPE_RETURN_URL=
STRIPE_CANCEL_URL=
STRIPE_WEBHOOK_SECRET=
